{% extends "base.html" %}

{% block content %}

    <!--Redirect user to login page if they are not authenticated.-->
    {% if not user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url={% url "Login" %}" xmlns="http://www.w3.org/1999/html"
              xmlns="http://www.w3.org/1999/html">
    {% endif %}

    <div class="row">
        <div class="input-field col s12 m6">
            <select class="elastic-instance">
                <option value="" disabled selected>Choose your option</option>
                {% for instance in instances %}
                    <option value="{{ instance.host }}">{{ instance.host }}</option>
                {% endfor %}
            </select>
            <label>Elasticsearch Instance</label>
        </div>

        <div class="input-field col s12 m6">
            <select class="elastic-index">
                <option value="" disabled selected>Choose your option</option>
            </select>
            <label>Elasticsearch Index</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6">
            <select class="tag-set">
                <option value="" disabled selected>Choose your option</option>
                {% for tagset in tagsets %}
                    <option value="{{ tagset.id }}">{{ tagset.name }}</option>
                {% endfor %}
            </select>
            <label>Tag Set</label>
        </div>

        <div class="input-field col s12 m6">
            <select class="tag-list">
                <option value="" disabled selected>Choose your option</option>
            </select>
            <label>Tag</label>
        </div>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s10">
                    <input id="query_input" type="text">
                    <label for="query_input">Query String</label>
                </div>
                <div class="input-field col s2">
                    <a class="btn-small" onclick="searchIndex('query_input')"><i class="material-icons">search</i></a>
                    <a class="btn-small" onclick="createQuery('query_input')"><i class="material-icons">add</i></a>
                </div>
            </div>
        </form>
        <div class="col s12">
            <ul id="query-list" class="collection">
            </ul>
        </div>
    </div>


    <div id="data-table" class="row">
        <table id="example" class="display" width="100%"></table>
    </div>

{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function () {
            $('select').formSelect();
            $('form').submit(function () {
                return false;
            });  // Prevent page from being refreshed by pressing enter.
        });
    </script>

    <script>

        // Set callback for updating list of indices when Elasticsearch instance is selected.
        $('.elastic-instance').change(function () {
            let instance = $('.elastic-instance option:selected').val();
            getElasticIndices(instance);
        });

        // Update index dropdown with indices associated with elastic instance.
        function getElasticIndices(instance) {
            $.ajax({
                url: '/ajax/indices/',
                type: 'GET',
                data: {
                    'instance': instance
                },
                dataType: 'json',
                success: function (data) {
                    let indices = [];
                    Object.keys(data.indices).sort().forEach(item => indices.push({"value": item, "text": item}));
                    updateSelect($('.elastic-index'), indices);
                }
            });
        }

        // Set call back for updating list of indices when TagSet is selected.
        $('.tag-set').change(function () {
            populateTags();
        });

        // Update tag dropdown with tags associated with tagset.
        function populateTags() {
            let tagSetID = $('.tag-set option:selected').val();
            $.ajax({
                url: '/api/tags',
                type: 'GET',
                data: {
                    'tagset_id': tagSetID
                },
                dataType: 'json',
                success: function (data) {
                    let tags = [];
                    data.forEach(item => tags.push({"value": item.id, "text": item.name.split("_").join(" - ")}));
                    updateSelect($('.tag-list'), tags);
                }
            }).always(function () {
                populateQueries();
            });
        }

        // Helper method to update select elements options.
        function updateSelect(selector, options) {
            selector.find('option:not(:first)').remove();
            options.forEach(option => {
                selector.append(
                    $('<option class="left"></option>').val(option.value).html(option.text)
                )
            });
            $('select').formSelect()
        }

        // Set callback for updating list of queries displayed when a tag is selected.
        $('.tag-list').change(function () {
            populateQueries();
        });

        // Update collection of queries when associated tag is selected.
        function populateQueries() {
            let tagID = $('.tag-list option:selected').val();
            $.ajax({
                url: '/api/queries',
                type: 'GET',
                data: {
                    'tag_id': tagID
                },
                dataType: 'json',
                success: function (data) {
                    querySelector = $('#query-list')
                    querySelector.find("li").remove();
                    data.forEach(item => {
                        console.log(item.read_only);
                        querySelector.append(
                            '<li class="collection-item">' +
                            '<a class="btn" onclick="searchIndex(\'query_' + item.id + '\')"><i class="material-icons">search</i></a>' +
                            '<a class="btn" onclick="deleteQuery(\'' + item.id + '\')"><i class="material-icons">delete</i></a>' +
                            '<span id="query_' + item.id + '">' + item.query + '</span>' +
                            '</li>'
                        )
                    });
                }
            });
        }

        // Ajax call to create a query in the database.
        function createQuery(text_id) {
            let textSelector = $('#' + text_id);
            let tagID = $('.tag-list option:selected').val();
            let queryString = ((textSelector.val() != "") ? textSelector.val() : textSelector.text());
            $.ajax({
                url: '/ajax/create_query/',
                type: 'POST',
                data: {
                    'tag_id': tagID,
                    'query_string': queryString
                },
                dataType: 'json'
            }).always(function () {
                populateQueries();
            });
        }

        // Ajax call to delete a query from the database.
        function deleteQuery(query_id) {
            $.ajax({
                url: '/ajax/delete_query/',
                type: 'POST',
                data: {
                    'query_id': query_id
                },
                dataType: 'json'
            }).always(function () {
                populateQueries();
            });

        }

        // Execute query against selected Elasticsearch instance and indexm, displaying results in datatable.
        function searchIndex(text_id) {
            let textSelector = $('#' + text_id);
            let queryString = ((textSelector.val() != "") ? textSelector.val() : textSelector.text());
            $.ajax({
                url: '/ajax/search/',
                type: 'GET',
                data: {
                    'instance': $('.elastic-instance').val(),
                    'index': $('.elastic-index').val(),
                    'query_string': queryString
                },
                dataType: 'json',
                success: function (data) {
                    constructTable(data);
                }
            });
        }

        // Helper method that handles initialization and updating datatable.
        function constructTable(data) {

            let setHeader = true;
            let tableColumns = [];
            let tableRows = [];

            data.hits.hits.forEach(hit => {
                if (setHeader) {
                    Object.keys(hit._source).forEach(key => tableColumns.push({"title": key}));
                    setHeader = false;
                }
                tableRows.push(Object.values(hit._source));
            });

            let tableSelector = $('#example');

            // Clear and destroy existing DataTable.
            if ($.fn.dataTable.isDataTable('#example')) {
                tableSelector.DataTable().clear().destroy();
                tableSelector.empty();
            }

            if (tableRows.length != 0) {
                // Create new table from data.
                tableSelector.DataTable({
                    columns: tableColumns,
                    data: tableRows,
                    dom: 'Bfrtip',
                    buttons: ['colvis']
                });
            }
        }
    </script>

{% endblock %}